In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

To gather my data I need the above 3 packages imported.

In [8]:
url ="https://leaguefeed.net/did-you-know-total-league-of-legends-player-count-updated/"
response = requests.get(url)
page = response.text
soup = BeautifulSoup(page, 'lxml')

I pulled my data from https://leaguefeed.net/did-you-know-total-league-of-legends-player-count-updated/, a website that seems to update quite regularly with generally precise statistics on the playerbase for League of Legends.

In [9]:
table = soup.find(class_="table") 
[row.text.split() for row in table.find_all("td")]

TypeError: 'NoneType' object is not callable

After inspecting the html of the webpage, In was able to find the table with the playerbase data, and was able to use Beautiful soup's find feature to locate the table data. From there, I have to isolate each column, and then concatenate them into one final dataframe for this data.

In [10]:
table1 = soup.find(class_="ninja_column_1.ninja_clmn_nm_averagemonthlyplayers") 
[row.text.split() for row in table.find_all("ninja_column_1")]

[]

In [11]:
table1

In [12]:
pd.DataFrame(table1)

Empty DataFrame
Columns: []
Index: []

In [13]:
table2 = soup.find('table', attrs={'class':'ninja_column_1.ninja_clmn_nm_averagemonthlyplayers'})

After digging for a bit, I discovered that I did not need to use Beautiful Soup at all. I originally tried to use pandas.read_html, but I messed up somewhere and tried switching paths instead of troubleshooting. However, the below function which I tweaked slightly from a response on Stack Overflow, perfectly portrays the data.

Here is the stack overflow that I referenced:
https://stackoverflow.com/questions/23377533/python-beautifulsoup-parsing-table

In [14]:
import pandas as pd
import requests

url = "https://leaguefeed.net/did-you-know-total-league-of-legends-player-count-updated/"

r = requests.get(url)
df_list = pd.read_html(r.text) # this parses all the tables in webpages to a list
df = df_list[0]
df.head(12)

                 Month  Average Monthly Players  Peak Players In a Day
0         Last 30 Days                180000000               31512723
1   September 30, 2021                125995870               11339628
2      August 30, 2021                126550278               11389525
3        July 30, 2021                128014473               11521303
4        June 30, 2021                126335475               11370193
5         May 30, 2021                121566901               10941021
6       April 30, 2021                118501466               10665132
7       March 30, 2021                120302279               10827205
8    February 28, 2021                117522367               10577013
9     January 30, 2021                115647815               10408303
10   December 30, 2020                121206637               10908597
11   November 30, 2020                116916136               10522452

The above dataframe is one of 2 that I plan to use. The data seems to be mostly consistent, although the data for the last 30 days seems to be skewed. The number is likely taken directly from Riot, who tweeted on November 1st, 2020, that they had reached 180 million monthly players. However, this number is not just for League of Legends. This data point references their total users across League of Legends, Teamfight Tactics, Legends of Runterra, and Wild Rift. This statistic is still impressive and still shows the growth of League of Legends, but is not completely accurate.

In [17]:
url = "https://activeplayer.io/league-of-legends/"

r = requests.get(url)
df_list = pd.read_html(r.text) # this parses all the tables in webpages to a list
df = df_list[0]
df

                  0              1
0         Platform:  Availability:
1           Windows             ✔️
2             Linux              ❌
3               MAC             ✔️
4              XBOX              ❌
5               PS3              ❌
6               PS4              ❌
7               PS5              ❌
8   Nintendo Switch              ❌
9           Android              ❌
10              iOS              ❌

In [18]:
url ="https://activeplayer.io/league-of-legends/"
response = requests.get(url)
page = response.text
soup = BeautifulSoup(page, 'lxml')

In [19]:
table = soup.find(class_="table") 
[row.text.split() for row in table.find_all("td")]

AttributeError: 'NoneType' object has no attribute 'find_all'

In [20]:
worlds_data = pd.read_csv('worldsviewership.csv')

In [21]:
worlds_data

   Year Peak Concurrent Viewership Average Minute Audience
0  2021                 73,860,742              30,604,255
1  2020                 46,067,896              23,041,174
2  2019                 43,982,055              21,469,358
3  2018                 43,997,815              19,280,120

The above data is the viewership details from the past 4 years of League of Legends Worlds finals, the largest tournament for the game each year. All numbers are provided by Riot, the creators of League of Legends, and can be found here: https://www.sportsbusinessjournal.com/Esports/Sections/Media/2021/11/Worlds-2021-Finals-AMA.aspx

This is another piece of data I plan to analyze to help solidify the results, furthering the analysis that league of legends is growing every year.